/* I will set those myself */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-repeat: no-repeat;
}

html {
  @media (--sm) {
    font-size: 50%;
  }
}

body {
  --accnat-color-theme-text: $color-theme-text;
  color: var(--accnat-color-theme-text);
  padding: $accnat-body-padding;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 100%;
  color: inherit;
}

a {
  text-decoration-line: none;
}
