/* Positioning mode has to be defined */
.mu-position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Positioning mode has to be defined */
.mu-position-center-justify {
  left: 50%;
  transform: translateX(-50%);
}

/* Positioning mode has to be defined */
.mu-position-center-align {
  top: 50%;
  transform: translateY(-50%);
}

.mu-margin-center-justify {
  margin-left: auto;
  margin-right: auto;
}

.mu-leading-byfont {
  line-height: normal;
}

.mu-wk-clip-bg-to-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mu-bg-cover-to-top {
  @apply tw-bg-cover tw-bg-top;
}
