{
  "extends": "stylelint-config-recommended",
  "ignoreFiles": ["./build/**/*", "./dist/**/*", "./node_modules/**/*"],
  "rules": {
    "selector-nested-pattern": "^&",
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "apply",
        "extends",
        "tailwind",
        "responsive",
        "if",
        "for",
        "each",
        "mixin",
        "include"
      ]
    }],
    "block-no-empty": null,
    "unit-whitelist": ["em", "rem", "%", "ch", "vh", "vw", "s"]
  }
}