.section-about {
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: calc(-1 * ($accnat-about-tr-y-cf));
}

.section-features {
  background-color: $color-grey-light;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      $color-theme-light,
      $color-theme
    ),
    url("~@img/nat-4.jpg");
  margin-top: calc(-1 * ($accnat-about-tr-y-cf));

  transform: skewY(-7deg);

  @apply .tw-bg-cover .tw-bg-top;

  & > * {
    transform: skewY(7deg);
  }
}
