@block card {
  height: 32rem;
  /**
    * These two MUST be set to make backface-visibility work properly 
    */
  perspective: 200rem;
  transform-style: preserve-3d;

  @apply tw-relative;

  @media (--tablet-port) {
    max-width: 90%;

    @apply mu-margin-center-justify;
  }

  @element side {
    transition: all 0.8s ease;
    backface-visibility: hidden;

    @apply tw-absolute tw-pin tw-rounded-sm tw-overflow-hidden tw-shadow-lg;

    @modifier front {
      will-change: transform;

      @apply tw-bg-white;
    }

    @modifier front-1 {
    }

    @modifier front-2 {
    }

    @modifier front-3 {
    }

    @modifier back {
      will-change: transform;

      transform: rotateY(180deg);
    }

    @modifier back-1 {
      background-image: linear-gradient(
        to right bottom,
        $color-card-1-light,
        $color-card-1
      );
    }

    @modifier back-2 {
      background-image: linear-gradient(
        to right bottom,
        $color-card-2-light,
        $color-card-2
      );
    }

    @modifier back-3 {
      background-image: linear-gradient(
        to right bottom,
        $color-card-3-light,
        $color-card-3
      );
    }
  }

  &:hover .card__side--front {
    transform: rotateY(-180deg);
  }

  &:hover .card__side--back {
    transform: rotateY(0deg);
  }

  @element picture {
    height: 13rem;

    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    @apply tw-bg-cover tw-bg-center;

    @modifier 1 {
      background-image: linear-gradient(
          to right bottom,
          $color-card-1-light,
          $color-card-1
        ),
        url("~@img/nat-5.jpg");
    }
    @modifier 2 {
      background-image: linear-gradient(
          to right bottom,
          $color-card-2-light,
          $color-card-2
        ),
        url("~@img/nat-6.jpg");
    }
    @modifier 3 {
      background-image: linear-gradient(
          to right bottom,
          $color-card-3-light,
          $color-card-3
        ),
        url("~@img/nat-7.jpg");
    }
  }

  @element heading {
    top: 9rem;
    right: 1rem;
    width: 75%;

    @apply tw-absolute tw-text-right tw-text-xl tw-font-light tw-text-white tw-uppercase;
  }

  @element heading-span {
    box-decoration-break: clone;

    @apply tw-leadingrel-3xl tw-pt-2 tw-pb-2 tw-pr-4 tw-pl-4;

    @modifier 1 {
      background-image: linear-gradient(
        to right bottom,
        color-mod($color-card-1-light a(85%)),
        color-mod($color-card-1 a(85%))
      );
    }
    @modifier 2 {
      background-image: linear-gradient(
        to right bottom,
        color-mod($color-card-2-light a(85%)),
        color-mod($color-card-2 a(85%))
      );
    }
    @modifier 3 {
      background-image: linear-gradient(
        to right bottom,
        color-mod($color-card-3-light a(85%)),
        color-mod($color-card-3 a(85%))
      );
    }
  }

  @element details {
    @apply tw-p-8;

    & ul {
      width: 80%;

      @apply tw-list-reset tw-mx-auto;

      & li {
        &:not(:last-child) {
          border-color: $color-grey-light;
          @apply tw-border-b-2;
        }

        @apply tw-text-center tw-p-3;
      }
    }
  }

  @element cta {
    /* for button to not shrink e.g. unto two lines */
    width: 90%;

    @apply tw-absolute .mu-position-center tw-text-center;
  }

  @element price-box {
    @apply tw-text-center tw-mb-24 tw-text-white;
  }

  @element price-only {
    @apply tw-text-lg tw-uppercase;
  }

  @element price-value {
    @apply tw-font-hairline tw-text-6xl;
  }
}

/**
 * Effect in
 * FF <> 67.0.1
 * + emulation with touch <> 67.0.1
 * - non-emulation iff dom.w3c_touch_events.legacy_apis.enabled == true and dom.w3c_touch_events.enabled = 1
 * Chrome emulation with touch <> 75.0.3770.80
 * + non-headless 
 * - headless
 * Chromium emulation with touch <> 74.0.3729.169
 * + non-headless
 * - headless
 *
 * P.S. second @media does not work
 */
@media screen and (--tablet-port) {
  @block card {
    height: auto;
    max-width: 90%;

    @apply tw-relative mu-margin-center-justify tw-bg-white tw-rounded-sm tw-shadow-lg;

    @element side {
      height: auto;

      @apply tw-relative tw-shadow-none tw-rounded-none;

      @modifier back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }

    @element details {
      font-size: 1.5rem;
    }

    @element cta {
      width: 100%;
      padding: 3rem;
      padding-top: 5rem;

      @apply tw-relative mu-position-center-undo;
    }

    @element price-box {
      @apply tw-mb-10;
    }

    &:hover .card__side--front {
      transform: rotateY(0);
    }

    &:hover .card__side--back {
      transform: rotateY(0);
    }
  }
}

/**  
 * Effect in
 * FF <> 67.0.1
 * - emulation with touch <> 67.0.1
 * + non-emulation iff dom.w3c_touch_events.legacy_apis.enabled == true and dom.w3c_touch_events.enabled = 1
 * Chrome emulation with touch <> 75.0.3770.80
 * - non-headless 
 * + headless
 * Chromium emulation with touch <> 74.0.3729.169
 * - non-headless
 * + headless
  */
@media screen {
  @block acc-nat-touchevents .card {
    height: auto;
    max-width: 90%;

    @apply tw-relative mu-margin-center-justify tw-bg-white tw-rounded-sm tw-shadow-lg;

    @element side {
      height: auto;

      @apply tw-relative tw-shadow-none tw-rounded-none;

      @modifier back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }

    @element details {
      font-size: 1.5rem;
    }

    @element cta {
      width: 100%;
      padding: 3rem;
      padding-top: 5rem;

      @apply tw-relative mu-position-center-undo;
    }

    @element price-box {
      @apply tw-mb-10;
    }

    &:hover .card__side--front {
      transform: rotateY(0);
    }

    &:hover .card__side--back {
      transform: rotateY(0);
    }
  }
}
