@block feature-box {
  background-color: hsla(1, 100%, 100%, 0.8);

  @apply .tw-p-4 .tw-text-center .tw-rounded-sm .tw-shadow-md;

  @element icon {

    /* See https://fvsch.com/svg-gradient-fill#Changing gradient colors with CSS variables */
    fill: url(#gradient-tl-br-solo) $color-theme-light;

    @apply .tw-w-16 .tw-h-16;
  }

  @element text {
  }
}

#gradient-tl-br-solo {
  /* See https://fvsch.com/svg-gradient-fill#Changing gradient colors with CSS variables */
  --color-stop-1: $color-theme-light;
  --color-stop-2: $color-theme;
}
