@block feature-box {
  background-color: color-mod($color-white a(80%));

  transition: all 0.3s;
  /* else elm moves slightly down at the end of the animation */
  backface-visibility: hidden;

  @apply tw-p-4 tw-text-center tw-rounded-sm tw-shadow-md;

  @media (--tablet-port) {
    max-width: 50%;

    @apply mu-margin-center-justify;
  }

  @element icon {
    /* See https://fvsch.com/svg-gradient-fill#Changing gradient colors with CSS variables */
    fill: url(#gradient-tl-br-solo) $color-theme-light;

    @apply tw-w-12 tw-h-12 tw-m-4;
  }

  &:hover {
    transform: translateY(-1rem) scale(1.05);

    @apply tw-shadow-lg;
  }

  @element text {
    @apply tw-text-xl;
  }
}

#gradient-tl-br-solo {
  /* See https://fvsch.com/svg-gradient-fill#Changing gradient colors with CSS variables */
  --color-stop-1: $color-theme-light;
  --color-stop-2: $color-theme;
}
