$accnat-body-padding: 2rem;

$color-theme-light: hsla(111, 55%, 64%, 0.8);
$color-theme: hsla(160, 64%, 43%, 0.8);

body {
  --accnat-theme-color: hsl(0, 0%, 47%);
  color: var(--accnat-theme-color);
  padding: $accnat-body-padding;
}

@block header {
  height: calc(100vh - calc(2 * $accnat-body-padding));
  background-image: linear-gradient(
      to right bottom,
      $color-theme-light,
      $color-theme
    ),
    url("~@img/hero.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  @apply .tw-bg-cover .tw-bg-top;

  @element logo-box {
    top: calc($accnat-body-padding + 1rem);
    left: calc($accnat-body-padding + 1rem);
    @apply .tw-absolute;
  }

  @element logo {
    @apply tw-h-10;
  }

  @element text-box {
    @apply .mu-position-center .tw-relative; /* absolute would also 
  been an option iff there would be a parent elm being relative  */
    @apply .tw-inline-block; /* else the child does not shrink 
  and hence does not center horizontally*/
    @apply .tw-text-center;
    @apply .tw-max-w-full .tw-w-full;
  }
}

@block heading-primary {
  backface-visibility: hidden; /* else elm moves slightly down 
  at the end of the animation */
  @apply .tw-uppercase .tw-text-white .tw-font-regular;
  @apply .tw-mb-6;
  @apply .tw-overflow-scroll; /* else text overflows even the
  body, then shows empty extra screen to the x (nobody 
  understands why)*/
  -ms-overflow-style: none; /*  IE 10+ */
  overflow: -moz-scrollbars-none; /* Firefox */

  &::-webkit-scrollbar {
    width: 0 !important; /* // Safari and Chrome */
  }

  @modifier main {
    @include bal-letter-by-indent(2rem);
    animation: moveInLeft 2s ease-in-out;
    @apply .tw-block .tw-text-5xl;
    @apply .tw-whitespace-no-wrap;
  }

  @modifier sub {
    @include bal-letter-by-indent(1rem);
    animation: moveInRight 2s ease-in-out;
    @apply .tw-block .tw-font-bold .tw-text-sm .tw-leadingrel-6xl;
  }
}

@block btn {
  transition: all 0.25s;
  backface-visibility: hidden; /* else elm moves slightly down 
  at the end of the animation */
  @apply .tw-text-2xl;
  @apply .tw-inline-block .tw-rounded-full .tw-uppercase .tw-px-6 .tw-py-4;
  @apply .tw-relative;

  &::after {
    content: "";
    display: inherit;
    transition: all 0.4s;
    @apply .tw-absolute .tw-pin;
    @apply .tw-w-full .tw-h-full .tw-rounded-full .tw-z--1;
  }

  &:hover {
    transform: translateY(-0.25rem);
    @apply .tw-shadow-lg;

    &::after {
      transform: scaleX(1.25) scaleY(1.6);
      @apply .tw-opacity-0;
    }
  }

  &:active {
    transform: translateY(-0.12rem);
    @apply .tw-shadow-md;
  }

  @modifier white {
    color: var(--accnat-primary-color);
    @apply .tw-bg-white;

    &::after {
      @apply .tw-bg-white;
    }
  }

  @modifier animated {
    animation: moveInBottom 1.25s ease-in-out 0.75s backwards;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(8rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  80% {
    transform: translateY(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
