@block header {
  height: calc($accnat-header-height-cf);
  background-image: linear-gradient(
      to right bottom,
      $color-theme-light,
      $color-theme
    ),
    url("~@img/hero.jpg");
  clip-path: polygon(0 0, 100% 0, 100% $accnat-header-br-y, 0 100%);
  @apply .tw-relative .tw-bg-cover .tw-bg-top;

  @element logo-box {
    top: calc($accnat-body-padding + 1rem);
    left: calc($accnat-body-padding + 1rem);
    @apply .tw-absolute;
  }

  @element logo {
    @apply .tw-h-10;
  }

  @element text-box {
    @apply .mu-position-center .tw-relative; /* absolute would also 
  been an option iff there would be a parent elm being relative  */
    @apply .tw-inline-block; /* else the child does not shrink 
  and hence does not center horizontally*/
    @apply .tw-text-center;
    @apply .tw-max-w-full .tw-w-full;
  }
}
