@block header {
  height: calc($accnat-header-height-cf);
  background-image: linear-gradient(
      to right bottom,
      $color-theme-light,
      $color-theme
    ),
    url("~@img/hero-small.jpg");
  clip-path: polygon(0 0, 100% 0, 100% $accnat-header-br-y, 0 100%);
  @apply tw-relative tw-bg-cover tw-bg-top;

  /* 192dpi is the minimum for high resolution */
  @media (min-resolution: 192dpi) and (min-width: 37.55em),
    (min-width: 112.5em) {
    background-image: linear-gradient(
        to right bottom,
        $color-theme-light,
        $color-theme
      ),
      url("~@img/hero.jpg");
  }

  @media (--tablet-land) {
    clip-path: polygon(0 0, 100% 0, 100% $accnat-header-br-y-sm, 0 100%);
  }

  @element logo-box {
    /* see navigation__menu-botton top: 3.5rem - $accnat-body-padding: 2rem*/
    top: calc(3.5rem - $accnat-body-padding);
    left: calc($accnat-body-padding + 1rem);
    @apply tw-absolute;

    @media (--tablet-port) {
      /* see navigation__menu-botton - no $accnat-body-padding  */
      top: 3.5rem;
    }
  }

  @element logo {
    height: 5rem;
  }

  @element text-box {
    @apply .mu-position-center tw-relative; /* absolute would also 
  been an option iff there would be a parent elm being relative  */
    @apply tw-inline-block; /* else the child does not shrink 
  and hence does not center horizontally*/
    @apply tw-text-center;
    @apply tw-max-w-full tw-w-full;
  }
}
