@block navigation {
  @element menu-checkbox {
    top: 5.5rem;
    right: 5.5rem;

    @apply .tw-fixed .tw-z-40 .tw-hidden;
  }
  @element menu-button {
    top: 3.5rem;
    right: 3.5rem;
    height: 5rem;
    width: 5rem;

    @apply .tw-fixed .tw-z-30 .tw-cursor-pointer .tw-text-center .tw-rounded-full .tw-bg-white .tw-shadow-lg;
  }
  @element menu-background {
    top: 4rem;
    right: 4rem;
    background-image: radial-gradient(
      color-mod($color-theme-light a(1)),
      color-mod($color-theme a(1))
    );
    transform: scale(1);

    /* https://easings.net/#easeOutQuint */
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);

    @apply .tw-fixed .tw-z-10 .tw-h-16 .tw-w-16 .tw-rounded-full;
  }
  @element nav {
    opacity: 0;
    width: 0;
    /* https://easings.net/#easeOutQuint */
    transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);

    @apply .tw-fixed .tw-z-20 .tw-pin-t .tw-pin-r .tw-h-screen;
  }
  @element list {
    counter-reset: navigation-menu-counter;

    @apply .tw-absolute .mu-position-center .tw-list-reset .tw-text-center .tw-w-full;
  }
  @element item {
    @apply .tw-m-4;
  }
  @element link {
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      color-mod($color-white a(90%)) 50%
    );
    background-size: 235%;

    transition: all 1s;

    @apply .tw-inline-block .tw-px-5 .tw-py-8 .tw-text-5xl .tw-font-light .tw-text-white .tw-uppercase;

    &:hover,
    &:active {
      color: $color-theme;
      background-position: 100%;
    }

    &::before {
      list-style-type: decimal-leading-zero;
      counter-increment: navigation-menu-counter;
      content: counter(navigation-menu-counter, decimal-leading-zero) " ";
    }
  }

  @element menu-burger {
    top: 1.5rem;

    @apply .tw-relative;

    &,
    &::before,
    &::after {
      /* stylelint-disable-next-line unit-whitelist */
      height: 2px;
      background-color: $color-grey-darkest;

      @apply .tw-inline-block .tw-w-10;
    }
    &::before,
    &::after {
      content: "";
      left: 0;

      transition: all 0.2s;

      @apply .tw-absolute;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
}

.navigation__menu-checkbox:checked ~ .navigation__menu-background {
  transform: scale(82);
  /* https://easings.net/#easeInQuint */
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.navigation__menu-checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  /* https://easings.net/#easeInQuint */
  transition: opacity 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.navigation__menu-button:hover .navigation__menu-burger::before {
  top: -0.925rem;
}

.navigation__menu-button:hover .navigation__menu-burger::after {
  top: 0.925rem;
}

.navigation__menu-checkbox:checked
  + .navigation__menu-button
  .navigation__menu-burger {
  background-color: transparent;
}

.navigation__menu-checkbox:checked
  + .navigation__menu-button
  .navigation__menu-burger::before {
  top: 0;
  transform: rotate(135deg) scale(1.2);
  opacity: 1;
}

.navigation__menu-checkbox:checked
  + .navigation__menu-button
  .navigation__menu-burger::after {
  top: 0;
  transform: rotate(-135deg) scale(1.2);
  opacity: 1;
}
