/* BREAKPOINT VIEWS 
 * em is better bec. dependent on the user's preset font size
*/
/* 600px / 16 = 37.5em  */
@custom-media --phone (max-width: 37.5em);
/* 900px / 16 = 56.25em  */
@custom-media --tablet-port (max-width: 56.25em);
/* 1200px / 16 = 56.25em  */
@custom-media --tablet-land (max-width: 75em);
/* 1800px / 16 = 112.5em  */
@custom-media --desktop-big (min-width: 112.5em);

/* LAYOUT */
$accnat-body-padding: 2rem;
$accnat-header-height-cf: 100vh - 2 * $accnat-body-padding;
$accnat-header-br-y: 75vh;
$accnat-about-tr-y-cf: $accnat-header-height-cf - $accnat-header-br-y;

/* COLORS */
$color-theme-text: hsl(0, 0%, 47%);
$color-theme-light: hsla(111, 55%, 64%, 0.8);
$color-theme: hsla(160, 64%, 43%, 0.8);
$color-grey-darkest: hsl(0, 0%, 20%);
$color-grey-dark: hsl(0, 0%, 60%);
$color-grey-light: hsl(0, 0%, 96%);
$color-white: hsla(1, 100%, 100%, 1);
$color-black: hsla(0, 0%, 0%, 1);
$color-input-invalid: hsl(27, 75%, 50%);

/* #f2d024 */
$color-card-1-light: hsl(50, 89%, 55%);
/* #de751f */
$color-card-1: hsl(27, 75%, 50%);
/* #64D5CA */
$color-card-2-light: hsl(174, 57%, 61%);
/* #1F9D55 */
$color-card-2: hsl(154, 67%, 37%);
/* #7886D7 */
$color-card-3-light: hsl(231, 54%, 65%);
/* #2779BD */
$color-card-3: hsl(207, 65%, 44%);

/* GRID */
$grid-width: 71.25rem;
$gutter-vertical: 5rem;
$gutter-vertical-md: 2.5rem;
$gutter-horizontal: 4rem;

/* STORIES */
$story-image-wh: 9rem;
